RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)/service$ service.php [QSA,L]
RewriteRule ^(.*)/service/(.*)$ service.php [QSA,L]


RewriteRule ^(.*)/server$ server.php [QSA,L]
RewriteRule ^(.*)/server/(.*)$ server.php [QSA,L]


RewriteRule ^(.*)/servergroup$ servergroup.php [QSA,L]
RewriteRule ^(.*)/servergroup/(.*)$ servergroup.php [QSA,L]



RewriteRule ^(.*)/servicegroup$ servicegroup.php [QSA,L]
RewriteRule ^(.*)/servicegroup/(.*)$ servicegroup.php [QSA,L]



RewriteRule ^(.*)/downtime$ downtime.php [QSA,L]
RewriteRule ^(.*)/downtime/(.*)$ downtime.php [QSA,L]

RewriteRule ^(.*)/core$ core.php [QSA,L]
RewriteRule ^(.*)/core/(.*)$ core.php [QSA,L]

RewriteRule ^(.*)/portier$ core.php [QSA,L]
RewriteRule ^(.*)/portier/(.*)$ core.php [QSA,L]


RewriteRule ^(.*)/worker$ worker.php [QSA,L]
RewriteRule ^(.*)/worker/(.*)$ worker.php [QSA,L]


RewriteRule ^(.*)/extension$ extension.php [QSA,L]
RewriteRule ^(.*)/extension/(.*)$ extension.php [QSA,L]




